.container {
    height: 85vh;
}

.navbar {
    margin-top: 1rem;
    box-shadow: 0 1px 5px black;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.navbar-nav {
    align-items: center;
}

.active {
    color: blue;
}

.main-layout {
    min-height: 100vh;
}